/*********** MODALE ***********/

.modal-page {
    visibility: hidden;
    position: absolute;
    display: none;
    opacity: 0;
}

.modal-page.active {
    visibility: visible; 
    position: relative; 
    display: block;
    opacity: 1;
}

#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
}

#modal-container.hidden {
    display: none;
}

.modal.active {
    display: block;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 630px;
    height: auto;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.close-button {
    position: absolute;
    top: 26px;
    right: 30px;
    font-size: 21px;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease;
}

.close-button:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.back-button {
    position: absolute;
    top: 26px;
    left: 30px;
    font-size: 21px;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease;
}

.back-button:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.modal-title {
    text-align: center;
    color: #000000;
}

#modal-gallery {
    padding: 50px 105px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.modal-works {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(78px, 1fr));
    gap: 6.5px;
    width: 100%;
    margin: 26px 0;
}

.work-item {
    position: relative;
    width: 78px;
    height: 104px;
    margin: 10px 0;
    transition: transform 0.3s ease;
}

.work-item:hover {
    transform: scale(1.05) rotate(-2deg);
}

.work-item img {
    width: 100%;
    height: auto;
}

.trash-icon {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 17px;
    height: 17px;
    background-color: #000000;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash-icon i {
    color: #FFFFFF;
    font-size: 11px;
}

.line {
    width: 100%;
    border-bottom: 1px solid #B3B3B3;
}

.add-photo-button {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: white;
    background-color: #1D6154;
    width: 237px;
    height: 36px;
    text-align: center;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    margin-top: 28px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-photo-button:hover {
    background: #0E2F28;
    cursor: pointer;
    transform: scale(1.02);
}

#modal-works.hidden {
    display: none;
}

#modal-add-photo {
    padding: 50px 105px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

#upload-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 26px 0;
    gap: 10px;
}

#upload-section {
    position: relative;
    width: 100%;
    height: 169px;
    padding: 20px 124px;
    background: #E8F1F7;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    gap: 10px;
    overflow: hidden;
}

#upload-section i {
    font-size: 76px;
    color: #B9C5CC;
}

#add-photo-button-form {
    width: 173px;
    height: 36px;
    background: #CBD6DC;
    border-radius: 50px;
    border: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #306685;
    font-weight: 500;
    cursor: pointer;
}

#upload-section:hover {
    transform: scale(1.03);
}

#upload-section p {
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    color: #444444;
    text-align: center;
}

.upload-image {
    display: none;
    width: auto;
    height: 169px;
    object-fit: contain;
}

.form-field {
    width: 100%;
    height: auto;
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.form-field:focus-within {
    transform: scale(1.02);
}

.form-field label {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    display: block;
    margin-bottom: 10px;
}

.form-field input, 
.form-field select {
    width: 100%;
    height: 51px;
    border: 0px solid #ccc;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.submit-button {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 14px;
    width: 237px;
    height: 36px;
    background-color: #A7A7A7;
    color: white;
    border: none;
    border-radius: 60px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 28px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
    transform: scale(1.02);
}

.submit-button.active {
    background-color: #1D6154;
    cursor: pointer;
}

.submit-button:disabled {
    background-color: #A7A7A7;
    cursor: not-allowed;
}