/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** end reset css**/

* { 
    box-sizing: border-box; 
} 

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Work Sans';
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #FFFEF8;
    overflow-x: hidden;
    min-height: 100vh;
}

section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C;
}

h1 > span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
}

h3 {
    font-family: "Work Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
}

h4 {
    font-family: "Work Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    height: 15px;
    margin-top: 7px;
}

/*********** HEADER ***********/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px 0;
}

header h1 a {
    font-family: 'Syne', sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: #B1663C;
    margin: 0;
    text-decoration: none; 
}

header h1 span {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #93532F;
}


nav ul {
    display: flex;
    gap: 44px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    display: inline-block;
    text-decoration: none; 
    font-size: 16px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
    transition: font-weight 0.3s ease, transform 0.3s ease;
}

nav a.active{
    font-weight: bold;
}

nav a:hover {
    font-weight: bold;
    transform: scale(1.1)
}

nav i {
    font-size: 20px;
    transition: transform 0.3s ease;
}

nav i:hover {
    transform: scale(1.5) rotate(-15deg); 
    cursor: pointer;
}

/*********** BARRE EDITION TOP ***********/

.edit-mode-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 400;
    position: fixed;
    top: 0;
    width: 100%;
    height: 59px;
    z-index: 1000;
    margin: 0;
    padding: 0;
    gap: 11.42px;
}

.hidden {
    display: none;
    opacity: 0;
}

/*********** MAIN ***********/

main {
    margin: 0 245px;
    flex: 1;
}

#introduction {
    display: flex;
    align-items: center;
    margin: 140px 0;
}

#introduction figure, 
#introduction article {
    flex: 1;
}

#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction h2, 
#introduction p {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

/*********** PORTFOLIO HEADER ***********/

.portfolio-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-header h2 {
    margin: 0;
    font-size: 30px;
}

.edit-container {
    display: flex;
    align-content: center;
    margin-left: 31px; 
    gap: 11px;
    transition: transform 0.3s ease, font-weight 0.3s ease;
}

.edit-container span {
    cursor: pointer;
    font-size: 14px;
}

.edit-container:hover {
    font-weight: bold;
    transform: scale(1.1)
}

.edit-container:hover i {
    font-size: 16px;
    transform: rotate(-15deg) translateY(-3px);
}

/*********** CATEGORY MENU ***********/

#category-menu {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    padding: 50px 0; 
    flex-wrap: wrap; 
    position: relative;
}

.category-button {
    height: 36px;
    padding: 10px;
    min-width: 100px;
    border-radius: 60px;
    border: 1px solid #1D6154;
    background-color: transparent;
    color: #1D6154;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Syne';
    font-style: normal;
    font-size: 16px;
    text-align: center;
    transition: background-color, transform 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.category-button#all {
    background-color: #1D6154;
    color: white;
}

.category-button:hover {
    background-color: #1D6154;
    color: white;
    transform: scale(1.05);
}

.category-button:active {
    transform: translateY(-3px);
}

.category-button.active {
    background-color: #1D6154;
    color: white;
    border: 1px solid #1D6154;
    cursor: default;
}

/*********** GALLERY ***********/

#gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.error {
    grid-column: 2;
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #1D6154;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.error-icon {
    width: 20px;
    height: 20px;
    transform: translateY(+3px);
    margin-right: 8px;
    color: #fff;
  }

  .error-category-text {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }

.work {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.work img {
    width: 100%;
}

.work:hover {
    transform: scale(1.03);
}

/*********** CONTACT SECTION ***********/

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 45px auto;
    width: 500px;
}

#contact h2 {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
    margin-bottom: 10px;
}

#contact p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    margin-bottom: 38px;
}

#contact form {
    display: flex;
    flex-direction: column;
    width: 379px;
    gap: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease;
}

.contact-form:focus-within {
    transform: scale(1.02);
}

.contact-form label {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    color: #3D3D3D;
    font-size: 14px;
}

.contact-form input, .contact-form textarea {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    padding: 12px;
    border: none;
    background-color: #FFFFFF;
    color: #333;
    margin-bottom: 30px;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    
}

.contact-form:focus, .contact-form textarea:focus {
    border: 2px solid; 
    outline: none;
}

.contact-form input {
    height: 51px;
}

.contact-form textarea { 
    height: 174px;
    resize: none;
}

.contact-button {
    background-color: #1D6154;
    text-align: center;
    color: #fff;
    width: 179px;
    height: 36px;
    border: none;
    border-radius: 60px;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-button:hover {
    background-color: #0e2f28;
    color: #fff;
    transform: scale(1.02);
}

.contact-button:active {
    transform: translateY(-1px);
}

/*********** FOOTER ***********/

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    padding: 24px 107px 20px 107px;
}

.legal-notice {
    font-weight: 300;
    font-size: 14px;
    line-height: 16.42px;
    color: #000;
}

.legal-notice:hover {
    font-weight: 700;
    cursor: default;
}
