/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

* { 
	box-sizing: border-box; 
} 

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-family: 'Work Sans' ;
	font-size: 14px;
	margin : 0;
	padding: 0;
	background-color: #FFFEF8;
	overflow-x: hidden;
	min-height: 100vh;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

h3 {
    font-family: "Work Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
}

h4 {
    font-family: "Work Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    height: 15px;
    margin-top: 7px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px 0;
}

header h1 {
    font-family: 'Syne', sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: #B1663C;
    margin: 0;
}

header h1 span {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #93532F;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    gap: 44px;
    align-items: center;
	justify-content: center;
}

nav li {
    list-style: none;
	
}

nav a {
	text-decoration: none; 
    font-size: 16px;
    font-weight: 400;
    color: #000;
    transition: color 0.3s ease;
	cursor: pointer;
}

nav a.active {
    font-weight: 700;
}

nav a:hover {
	font-weight: 700;
}

nav i {
    font-size: 20px;
    cursor: default;
    transition: transform 0.3s ease;
}

nav i:hover {
    transform: scale(1.3); 
    cursor: pointer;
}

/*********** BARRE EDITION TOP ***********/

.edit-mode-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	font-size: 16px;
	font-weight: 400;
	position: fixed;
	top: 0;
	width: 100%;
	height: 59px;
	z-index: 1000;
	margin: 0;
	padding: 0;
	gap: 11.42px;
}

.hidden {
	visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/*********** MAIN ***********/

main {
	margin: 0 245px; 
	flex: 1; 
}

#introduction {
	display: flex;
	align-items: center;
	margin: 140px 0; 
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/*********** BUTTONS ***********/

#category-menu {
	display: flex; 
	justify-content: center; 
	gap: 10px; 
	padding: 50px 0; 
	flex-wrap: wrap; 
	position: relative;
  }
  
.category-button {
	padding: 10px 20px;
	font-size: 1.2em;
	height: 37px;
	border-radius: 60px;
	border: 1px solid #1D6154;
	background-color: transparent;
	color: #1D6154;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: background-color 0.3s ease, color 0.3s ease;
  }
  
.category-button#all {
	background-color: #1D6154;
	color: white;
  }
  
.category-button:hover {
	background: #0E2F28;
  }
  
.category-button span {
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
  }
  
.category-button.active {
	background-color: #1D6154;
	color: white;
	border: 1px solid #1D6154;
	cursor: default;
  }
  
#all span {
	color: #FFFFFF;
  }
  
.category-button#objets {
	width: 100px;
  }
  
.category-button#appartements {
	width: 157px;
  }
  
.category-button#hotels-restaurants {
	width: 198px;
  }

.category-button#all {
	margin-left: 0;
  }

  .category-button#objets {
	width: 100px;
  }

  .category-button#appartements {
	width: 157px;
  }

.category-button#hotels-restaurants {
	width: 198px;
  }

.category-button:hover {
	background-color: #1D6154;
	color: white;
  }

#objets,
#appartements,
#hotels-restaurants,
#all {
	position: static;
  }

#all {
	margin-left: 20px;
  }

#objets span, #appartements span, #hotels-restaurants span {
	color: #1D6154;
  }

#all span {
	color: #FFFFFF;
  }

/*********** PORTFOLIO HEADER ***********/

.portfolio-header {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: auto;
	position: relative;
}

.title-container {
    display: flex;
    align-items: center;
	justify-content: center;
}

.portfolio-header h2 {
    margin: 0;
    font-size: 30px;
}

.edit-container {
	display: flex;
	align-content: center;
    margin-left: 31px; 
	gap: 11px;
}

.edit-container span {
	cursor: pointer;
}

/*********** MODALE ***********/

#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.hidden {
    display: none;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  space-between;
    padding: 60px 5vw 45px;
    width: 37%;
    max-width: 630px;
    height: auto;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.close-button {
    position: absolute;
    top: 26px;
    right: 30px;
    font-size: 24px;
    cursor: pointer;
}

.modal-title {
    text-align: center;
    color: #000000;
}

.modal-gallery { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  space-between;
    gap: 36px;
}

.modal-works {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(78px, 1fr));
    gap: 6.5px;
    width: 100%;
}

.work-item {
    position: relative;
    width: 78px;
    height: 104px;
    margin: 10px 0;
    transition: transform 0.3s ease;
}

.work-item:hover{
    transform: scale(1.05);
}

.work-item img {
    width: 100%;
    height: auto;
}

.trash-icon {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 17px;
    height: 17px;
    background-color: #000000;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash-icon i {
    color: #FFFFFF;
    font-size: 11px;
}

.line {
    width: 100%;
    top: 100%;
    border-top: 1px solid #B3B3B3;

}

.add-photo-button {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: white;
    background-color: #1D6154;
    width: 237px;
    height: 36px;
    text-align: center;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    margin-top: 38px; 
    transition: background-color 0.3s ease;
}

.add-photo-button:hover {
    background: #0E2F28;
}

#photo-form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#photo-form i {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 24px;
    cursor: pointer;
}

.form-field {
    width: 420px;
    margin-bottom: 20px;
}

.photo-input, .title-input, .category-select {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px;
}

.photo-input {
    background: #E8F1F7;
}

.title-input, .category-select {
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.submit-button {
    width: 420px;
    height: 51px;
    background-color: #A7A7A7;
    color: white;
    border: none;
    border-radius: 60px;
    font-weight: bold;
    cursor: not-allowed;
}

.submit-button.active {
    background-color: #1D6154;
    cursor: pointer;
}

.submit-button:disabled {
    background-color: #A7A7A7;
}

#photo-form.hidden {
    display: none;
}

#modal-works.hidden {
    display: none;
}

/*********** GALLERY ***********/

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.work {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.work img {
    width: 100%;
}

.work:hover{
    transform: scale(1.03);
}

/*********** CONTACT ***********/

#contact {
    width: 380px;
    margin: auto;
    text-align: center;
}

#contact h2 {
    margin-bottom: 20px;
}

#contact form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: left;
}

#contact input,
#contact textarea {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    padding: 10px;
}

#contact textarea {
    height: 174px;
    resize: none;
}

#contact button {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    height: 50px;
    text-align: center;
    border-radius: 60px;
    border: none;
}
#contact button:hover {
    background: #0E2F28;
    cursor: pointer;
}

#contact p {
    margin-bottom: 20px;
    font-size: 1em;
}

/*********** FOOTER ***********/

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
	width: 100%;
	background-color: #FFFFFF;
    padding: 24px 107px 20px 107px;
}

.legal-notice {
	font-weight: 300;
	font-size: 14px;
	line-height: 16.42px;
	color: #000;
}

.legal-notice:hover {
    font-weight: 700;
	cursor: default;
}

/*********** LOGIN PAGE ***********/

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
	margin: 140px;
}

.login-title {
    font-family: 'Syne', sans-serif;
    font-size: 30px;
	line-height: 36px;
    font-weight: 700;
    color: #1D6154;
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

.form-label {
    display: block;
    font-weight: 500;
	line-height: 16.42px;
    font-size: 14px;
    color: #3D3D3D;
    text-align: left;
}

.form-input {
    width: 100%;
    max-width: 379px;
	height: 51px;
    padding: 0 10px;
    font-size: 16px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);     color: #333;
    background-color: #fff;
	border: none;
}

button[type="submit"] {
    width: 100%;
    max-width: 179px;
	height: 36px;
    padding: 15px;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 60px; /* Coins arrondis */
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Espacement au-dessus du bouton */
	display: flex;
	align-items: center;
	justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

button[type="submit"]:hover {
    background: #0E2F28;
    cursor: pointer;
}

.forgot-password {
    display: block;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
    text-decoration: underline;
    color: #3D3D3D;
}

.forgot-password:hover {
	font-weight: bold;
}

.error-message {
    color: red;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 12px;
}

.js-error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}